{% extends "baseadmin.html.twig" %}

{% block body %}

    <p class="text-end">
        <a href="{{ path('admin.voyage.ajout') }}" class="btn btn-primary">
            Ajouter une nouvelle visite
        </a>
    </p>  
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                   {#si dmd gere tri 5e.en admin#}
                    Ville
                    <a href="{{ path('voyages.sort', {champ:'ville', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('voyages.sort', {champ:'ville', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('voyages.findallequal', {champ:'ville'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_ville') }}">
                            <button type="submit" class="btn btn-primary mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>
                </th>
                <th>
                    Pays
                    <a href="{{ path('voyages.sort', {champ:'pays', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('voyages.sort', {champ:'pays', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('voyages.findallequal', {champ:'pays'}) }}">
                        <div class="form-group mr-1 mb-2"><input type="hidden" name="_token" value="{{ csrf_token('filtre_ville') }}">
                            <input type="text" class="sm" name="recherche">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_pays') }}">
                            <button type="submit" class="btn btn-primary mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>
                </th>
                <th>
                    Date
                    <a href="{{ path('voyages.sort', {champ:'datecreation', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('voyages.sort', {champ:'datecreation', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for visite in visites %}
                <tr>
                    <td>
                        <h5 class="text-primary">
                            {{ visite.ville }}
                        </h5>
                    </td>
                    <td>
                        {{ visite.pays }}
                    </td>
                    <td>
                        {{ visite.datecreationstring }}
                    </td>
                    <td>
                        <a href="{{ path('admin.voyage.edit', {id:visite.id}) }}" class="btn btn-secondary">Editer</a>
                        <a href="{{ path('admin.voyage.suppr',{id:visite.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir supprimer {{ visite.ville }} ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}